.class1 {
  color: red;
  font-size: 24px;
  font-family: Garamond
}
.class2 {
  color: #2C93FF;
  font-size: 48px;
  font-family: arial
}
.class3 {
  color: #999999;
  font-size: 72px;
  font-family: Verdana
}
